In [1]:
import pandas as pd
import os                                                  
import re 
import numpy as np

In [2]:
step= 19
inf = step * 100 + 1
sup = inf + 100

k_list = list(range(inf,sup, 2)) * 10 
id_num = list(range(len(k_list)))
inp = list(zip(*(k_list, id_num)))


len(inp)

500

In [3]:
os.getcwd()
folder = 'k'+ str(inf)+ '-'+ str(sup)

In [4]:
filename = os.listdir()
list_filenames = []
for file in filename:
    index = re.findall("\d+", file)
    index = tuple( int(elem) for elem in index)
    list_filenames.append(tuple(index))
len(list_filenames)

11

In [5]:
new_inp = list(set(inp) - set(list_filenames))
len(new_inp)

500

## reshape from k  =1 to k = 300

In [6]:

inf =
sup =300

In [7]:
filename = 'k'+str(inf)+'-'+str(sup)+'_avatarize.csv'
filename

'k1-300_avatarize.csv'

In [8]:
df = pd.read_csv(filename)
df.id.fillna(df.i, inplace=True)
df = df.drop('i', 1)
df.k = df.k + 1


id_ind = list(range(1,2140) )*1500 
df['id_ind'] = id_ind

In [9]:
np.unique(df.k)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104,
       106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130,
       132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156,
       158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182,
       184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208,
       210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234,
       236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260,
       262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286,
       288, 290, 292, 294, 296, 298, 300])

In [10]:
df.shape[0]/2139

1500.0

In [11]:
sum = df[['age', 'k', 'id']].groupby(['k', 'id']).count().reset_index()

In [12]:
sum

        k     id   age
0       2    0.0  2139
1       2   50.0  2139
2       2  100.0  2139
3       2  150.0  2139
4       2  200.0  2139
...   ...    ...   ...
1495  300  299.0  2139
1496  300  349.0  2139
1497  300  399.0  2139
1498  300  449.0  2139
1499  300  499.0  2139

[1500 rows x 3 columns]

In [13]:
df.id.isna().sum()

0

In [14]:
for k in np.unique(df['k']): 
    df_temp = df[df['k'] == k]
    df_temp.to_csv("../datasets/aids_avatarized/k"+str(k)+'_aids_avatarized.csv')

In [15]:
df_temp.shape

(21390, 29)

## Reshape from k = 501 to k = 801

In [6]:
step= 7
inf = step * 100 + 1
sup = inf + 100
inf, sup

(701, 801)

In [7]:
os.getcwd()

'/home/user/Documents/Projets/avatar_paper/notebooks'

In [8]:
file = '../data_aids_avatar/k'+ str(inf)+'-' + str(sup)+ '_avatarize.csv'
df = pd.read_csv(file)
df.k = df.k + 1

In [9]:
id_ind = list(range(1,2140) )*500 
df['id_ind'] = id_ind
df.head()

,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,zprior,preanti,...,cd496,r,cd80,cd820,cens,days,arms,k,id,id_ind
0,20,76.494265,1,0,0,100,0,0,1,2,...,473.244052,1,764,695,0,1130,2,702,0,1
1,36,66.599901,0,1,0,100,0,0,1,417,...,188.522594,1,510,795,1,879,3,702,0,2
2,36,74.607712,0,1,0,100,0,1,1,1103,...,287.240227,1,1047,756,0,1142,3,702,0,3
3,36,78.267688,0,1,0,100,0,1,1,401,...,284.415729,1,912,1189,0,977,2,702,0,4
4,40,73.206742,0,1,0,100,0,1,1,680,...,297.842071,1,686,648,0,1000,2,702,0,5

In [10]:
df.shape[0]/2139

500.0

In [11]:
np.unique(df['k'])

array([702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726,
       728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752,
       754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778,
       780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800])

In [12]:
np.unique(df['id'])

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499])

In [13]:
for k in np.unique(df['k']): 
    df_temp = df[df['k'] == k]
    df_temp.to_csv("../datasets/aids_avatarized/k"+str(k)+'_aids_avatarized.csv')

## Reshape from k = 801 to k = 2001

In [4]:
step= 3
inf = step * 100 + 1
sup = inf + 100
inf, sup

(301, 401)

In [5]:
folder = '/k'+ str(inf)+'-' + str(sup) 
folder
os.chdir('/home/user/Documents/Projets/avatar_paper/notebooks' + folder)

In [8]:
os.getcwd()

'/home/user/Documents/Projets/avatar_paper/notebooks/k301-401'

In [10]:
filename

['k301-401']

In [11]:
filename = os.listdir()
# filename.remove('.~lock.k801-150_avatarize.csv#')
df_list = []
for name in filename:
    df_temp = pd.read_csv(name)
    df_temp['id_ind'] = list(range(1,2140))
    df_temp['k'] = df_temp['k'] + 1
    df_list.append(df_temp)
df_concat = pd.concat(df_list, axis=0)

In [12]:
df_concat.columns

Index(['age', 'wtkg', 'hemo', 'homo', 'drugs', 'karnof', 'oprior', 'z30',
       'zprior', 'preanti', 'race', 'gender', 'str2', 'strat', 'symptom',
       'treat', 'offtrt', 'cd40', 'cd420', 'cd496', 'r', 'cd80', 'cd820',
       'cens', 'days', 'arms', 'k', 'id', 'id_ind'],
      dtype='object')

In [13]:
# df_concat = df_concat[[
#     'age', 'wtkg', 'hemo', 'homo', 'drugs', 'karnof', 'oprior', 
#     'z30','zprior', 'preanti', 'race', 'gender', 'str2', 'strat', 'symptom',
#     'treat', 'offtrt', 'cd40', 'cd420', 'cd496', 'r', 'cd80', 'cd820',
#     'cens', 'days', 'arms', 'k', 'id', 'id_ind']]

# np.unique(df_concat['k'])

In [14]:
np.unique(df_concat['k'])

array([302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326,
       328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352,
       354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378,
       380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400])

In [15]:
for k in np.unique(df_concat['k']): 
    df_temp = df_concat[df_concat['k'] == k]
    df_temp.to_csv("../../datasets/aids_avatarized/k"+str(k)+'_aids_avatarized.csv')

'/home/user/Documents/Projets/avatar_paper/notebooks/k801-901'

### Rename variables (olivia comments)

In [14]:
os.getcwd()

'/home/user/Documents/Projets/avatar_paper/notebooks'

In [60]:
os.chdir('/home/user/Documents/Projets/avatar_paper/datasets/aids_avatarized_old_k')

In [62]:
filename = os.listdir()
filename

for df_name in filename:
    df_temp = pd.read_csv(df_name)
    df_temp = df_temp.rename(columns= {'id': 'iter_k'})
    df_temp['iter_k'] = list(np.repeat(list(range(10)), 2139))
    df_temp['k'] = df_temp['k'] - 1
    df_temp = df_temp.drop(columns= ['Unnamed: 0'])
    k = np.unique(df_temp.k)[0]
    path_name = '../aids_avatarized/k'+ str(k)+'_aids_avatarized.csv'
    df_temp.to_csv(path_name, index= False)

In [47]:
df_temp.head()

,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,zprior,preanti,...,cd496,r,cd80,cd820,cens,days,arms,k,iter_k,id_ind
0,27,66.644288,0,0,0,100,0,1,1,40,...,299.499711,1,1283,1162,0,1062,3,803,0,1
1,46,89.734657,0,1,1,80,0,1,1,484,...,NaN,0,643,681,0,1003,0,803,0,2
2,41,87.906569,0,1,0,80,0,0,1,783,...,217.865727,0,2203,2040,0,553,2,803,0,3
3,47,72.375682,0,0,0,90,0,1,1,806,...,329.894267,1,876,919,0,1041,0,803,0,4
4,43,76.801905,0,1,0,100,0,1,1,1058,...,234.264633,1,1060,929,0,1125,2,803,0,5

In [55]:
k

1321

In [57]:
os.getcwd()

'/home/user/Documents/Projets/avatar_paper/datasets/aids_avatarized'

In [65]:
np.unique(df_temp.iter_k)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])