In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("../../datasets/AIDS/aids_original_data.csv", sep = ';')
avatar = pd.read_csv("../../datasets/AIDS/aids_avatarized_base_k20_nf5.csv")

In [9]:
data.drop(columns = ['pidnum','cd496'] , inplace = True)

avatar.drop(columns = ['cd496'], inplace = True)

In [10]:

import sys
sys.path.append('../..')
from lsg.security_metrics import SecurityMetrics

In [11]:
metrics = SecurityMetrics()
metrics.fit(data, avatar, nf = 5)

In [13]:
pd.DataFrame(metrics.local_cloaking.hit_counts)

       0   1
0     27  37
1     53  46
2     26  23
3     59  40
4     20  12
...   ..  ..
2134   2   4
2135  26  25
2136  34  26
2137   9  11
2138   5   2

[2139 rows x 2 columns]